h1{
    word-spacing: 3px;
    letter-spacing: 2px;
    color: cornflowerblue;
    text-align: center;
}
:root{
    background-color: whitesmoke;
}
input:invalid{
    border:1px solid red;
}
input:required{
    background-color:azure;
}
input:focus{
    color: blue;
}
#button:hover{
    background-color: darkgreen;
}
legend{
    color: blueviolet;
}